.root{
    /* color */
    -fx-background-color: linear-gradient(to bottom, crimson, #3a3a3a);
    -fx-background-position: top;
}

.button {
    /* color */
    -fx-background-color: linear-gradient(to bottom, #4a4a4a, #2f2f2f);

    /* position */
    -fx-padding: 8px 18px;

    /* text */
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-family: "Storm Gust";

    /* animation */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    /* color */
    -fx-background-color: linear-gradient(to bottom, #5e5e5e, #3a3a3a);

    /* position */
    /* this increases the size when hovering over */
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.button:pressed {

    /* position */
    /* this decreases the size when hovering over */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
